*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   /* -------------------- Container Section --------------------- */ 

.ccontainer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/apps.40411.14047496556148589.9fda5cef-7995-4dbb-a626-66d2ab3feb4f.d87f046c-667d-4ce7-98bc-eba2b535dc94);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    
}
/*------header-----*/
header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    background: rgb(41, 42, 45);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
   width: 200px;
   background: rgb(230, 135, 0);
   clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
   padding: 0 20px;
}
header .logo img{
   width: 60px;
}
nav{
    position: relative;
    
}
header .navbar{
    padding: 0;
}
header .navbar ul{
   list-style: none;
   margin-bottom: 0;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 19px;
    padding: 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}
header .navbar ul li a:hover{
    background:rgb(230, 135, 0);
    color: #fff;
    transition: .5s;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(41, 41, 45);
    display: none;
    z-index: 550;
    padding-left: 0;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0, .1);
}
header .navbar ul li:hover > ul{
    display: initial;
}
#menu-bar{
        display: none;
}
header label{
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        display: none;
     
}

 /*---Responsive style---*/
@media(max-width:991px){
    header label{
        display: initial;
        position: absolute;
        right:15% ;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: rgb(41, 42, 45);;
        border-top: 1px solid rgb(0, 0, 0, .1);
        display: none;
       
    }

    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: rgb(41,42,45);
    }
}

/*-------------------------------------Sign page Style--------------------------------------*/
#sign_page{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: 1s all;
    z-index: 2000;
    
}
#sign-up{
      display: none;
}
#signUp-header{
    display: none;
}



/*------------------------------------------------Content desc ---------------------------------*/

.content-wrapper{
    position: relative;
    width: 80%;
    min-height: 60vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.content-desc h1{
    font-size: 4.5rem;
    margin-bottom: 10px;
    color:transparent;
    -webkit-text-stroke: 1px rgb(221, 176, 13);
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 1900px 0;
    }
}

.content-desc p{
    width: 600px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.caracter{
    width: 400px;
    height: 400px;
    background:  linear-gradient(rgba(38, 2, 39, 0.849),rgba(204, 115, 14));
    position: relative;
    margin-top: 80px;
}
.caracter::after{
    content: '';
    width: 400px;
    height: 400px;
    background: url(images/character.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: -130px;
}
 /*---Responsive style---*/
 @media(max-width:991px){
      .content-wrapper{
         width: 100%;
         display: block;
         align-items: center;
      }
      h1{
        margin-top: 50px;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
      }
      .content-desc p{
        text-align: center;
        width: fit-content;
        font-size: 1.5rem;
        line-height: 2.5rem;
        
      }
      .caracter{
         position: relative;
         width: 400px;
         height: 400px;
         bottom: 5%;
         left: 50%;
         transform: translate(-50%, -5%);
         background:  linear-gradient(rgba(38, 2, 39, 0.849),rgba(204, 115, 14));
         margin-top: 80px;

      }
      .caracter::after{
         content: '';
         width: 400px;
         height: 400px; 
         position: absolute;
         left: 0;
         
      }
 }
 @media screen and (max-width:770px){
    .content-wrapper{
        width: 100%;
        display: block;
        align-items: center;
     }
    h1{
        font-size: 2.5rem;
    }
    .content-desc p{
        font-size: 1.5rem;
    }
    .caracter{
        width: 300px;
        height: 300px;
    }
    .caracter::after{
        content: '';
        width: 300px;
        height: 300px;
        left: 0;
    }
}
@media screen and (max-width:403px){
    .content-wrapper{
        width: 100%;
        display: block;
        align-items: center;
     }
    h1{
        font-size: 2rem;
        padding-top: 20px;
    }
    .content-desc p{
        font-size: 1.4rem;
        margin: 0 5px;
    }
    .caracter{
        width: 250px;
        height: 250px;
    }
    .caracter::after{
        content: '';
        width: 250px;
        height: 250px;
        left: 0;
    }
}




/*-------------------------------------------------------Game images slider section --------------------------------------------------*/

.games-image-slider{
       width: 100%;
       height: 650px;
       background-color: rgb(9, 4, 4);
       padding: 40px 0;
}
.games-image-slider h2{
    color:#fec53a;
    text-align: center;
    font-size: 30px;
}
.swiper{ 
    margin-top: 60px;
    position: absolute;
    width: 60%;
    height: fit-content;
}

.swiper-slide p{
    color: #f3fef7;
    position: absolute;
    top:310px;
    z-index: 100;
    font-size: 1.3rem;
    text-align: left;
    margin: 10px 250px 0 50px;
    font-weight: bold;
    line-height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.swiper-slide img{
    
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: rgb(10, 12, 137);
}
/*--------------responsive--------------------*/
@media screen and (max-width:480px){
   .games-image-slider{
       height: 650px;
   }
   .swiper{
     width: 90%;
   }
   .swiper-slide img{
     height: 450px;
   }
   .swiper-slide p{
     display: none;
   }
}

@media screen and (max-width: 768px) {
    .swiper{
        width: 90%;
    }
    .swiper-slide p{
        display: none;
    }
}

/*----------------------------free games section-----------------------------------*/

.free-games{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(9, 4, 4);
    padding: 40px 0;
}
.free-games  h2{
    color:#fec53a;
    text-align: center;
    z-index: 300;
    margin: 0 0 40px 0;
    font-size: 30px;
}
                                     /*-------------games grid style-------------------------*/
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px) ;
    gap: 5px 10px;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: auto;
 }
 .box-container .boxx{
    padding:  5px 20px;
 }
 .box-container .boxx .imagee{
     height: 320px;
     width: 100%;
 }
 .box-container .boxx .namee{
   color: #F5F5F5;
   font-size: 17px;
   margin: 10px 0;
   text-transform: lowercase;
 }
 .box-container .boxx .pricee{
    color: rgb(125,121,121);
    font-size: 16px;
    margin-bottom: 15px;
 }
 .box-container .boxx button{
    cursor: pointer;
 }

/* ------------responsive design------------------*/
@media screen and (max-width:991px){
.box-container{
grid-template-columns: repeat(auto-fit, 250px) ;
width: 100%;
gap: 5px 5px;
}
.box-container .boxx .imagee{
height: 260px;
}
.box-container .boxx .namee{
font-size: 16px;
margin: 10px 0;
}
.box-container .boxx .pricee{
font-size: 15px;
}
}

@media screen and (max-width:480px) {
    .box-container{
        grid-template-columns: repeat(auto-fit, 200px);
    }
}
@media screen and (max-width: 403px) {
    .box-container{
        grid-template-columns: repeat(auto-fit, 170px) ;
        width: 100%;
        gap: 5px 5px;
        }
        .box-container .boxx .imagee{
        height: 220px;
        }
        .box-container .boxx .namee{
        font-size: 16px;
        margin: 10px 0;
        }
        .box-container .boxx .pricee{
        font-size: 15px;
        }
}
/*------------------------------------------------------------------------------
/*------------------------------------------------------------------------/*


/*---------------------------------Footer section------------------------------------------*/
body{
    background: black  ;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 14px;
    line-height: 20px;
}

footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .ABC{
    width: 80px;
    max-width: 30px;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;

}
footer .col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;
}

footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}
footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}
footer form{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}

footer form .far{
    font-size: 18px;
    margin-right: 10px;
}

footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button{
    background: transparent;
    border: 0;
    outline:none;
    cursor: pointer;
}

footer form button .kenk{
    font-size: 16px;
    color: #ccc;
}
footer .social-icons .ss{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;

}

footer .copyright {
    text-align: center;
}

footer .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;

    }
    100%{
        left: 100px;
    }
}
@media screen and (max-width:770px){
    footer{
        bottom: unset;
    }
    footer .row .col{
        flex-basis: 100%;
        padding: 10px;
    }
    footer .row .col:nth-child(2),.col:nth-child(3){
       flex-basis: 100%;
    }
}

/*-----------------------------------Browse Page style-----------------------------------*/

 /*--------------------------Search box style-----------------------------------------*/
 .search-box{
    width: 100%;
    height: 45px;
    background-color: black;
    margin-bottom: 50px;
}
.search-box .search-bar{
    border: 3px solid #000;
    border-radius: 100vh 100vh;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: rgb(51,51,51);
    margin: 15px 0;
}
input{
  width: 230px;
  height: 40px;
  border-radius: 100vh 0 150vh 100vh;
  border: none;
  outline: none;
  padding: 0 10px;
  background-color: rgb(37,37,38);
  color: white;
}
.search-bar i{
    font-size: 20px;
    padding: 5px 7px;
    color: green;
}
.search-bar button{
  border: none;
  background-color: rgb(51,51,51);
  outline: none;
  cursor: pointer;
}
/*-------------------------------------------------*/